body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

p {
    font-size: 22px; /* Увеличенный размер шрифта */
    max-width: 600px; /* Ограничение ширины текста */
    line-height: 1.6; /* Улучшенное межстрочное расстояние */
    margin-bottom: 20px;
    white-space: pre-line; /* Позволяет разбивать текст на строки */
}

img {
    max-width: 50%; /* Сделает фото меньше (можно регулировать) */
    height: auto; /* Сохранит пропорции */
    margin-bottom: 20px; /* Добавит отступ под фото */
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    background-color: #007bff;
    border-radius: 5px;
}

.button:hover {
    background-color: #0056b3;
}
