body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f8f9fa;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #333;
}

p {
    font-size: 22px;
    max-width: 600px;
    line-height: 1.6;
    margin-bottom: 20px;
    white-space: pre-line;
    color: #555;
}

img {
    max-width: 50%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.button {
    display: inline-block;
    padding: 12px 24px;
    margin: 10px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    background-color: #007bff;
    border-radius: 5px;
    transition: all 0.6s ease;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
    transform: scale(1.1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.morph {
    width: 80px;
    height: 80px;
    padding: 0;
    background-color: #333;
    color: transparent;
    clip-path: polygon(
        50% 0%, 
        61% 5%, 
        75% 0%, 
        85% 15%, 
        95% 40%, 
        85% 70%, 
        50% 100%, 
        15% 70%, 
        5% 40%, 
        15% 15%, 
        25% 0%, 
        39% 5%
    );
    transition: all 1s ease;
}
