body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f8f9fa; /* Легкий серый фон */
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #333;
}

p {
    font-size: 22px;
    max-width: 600px;
    line-height: 1.6;
    margin-bottom: 20px;
    white-space: pre-line;
    color: #555;
}

/* Стили для фото */
img {
    max-width: 50%; /* Уменьшает изображение в 2 раза */
    height: auto; /* Сохраняет пропорции */
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Специально для фото "bellasport" */
img[src="fotkibella/bellasport.jpg"] {
    max-width: 25%; /* Уменьшает именно это фото в 2 раза */
}

.button {
    display: inline-block;
    padding: 12px 24px;
    margin: 10px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    background-color: #007bff;
    border-radius: 5px;
    transition: all 0.3s ease;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
    transform: scale(1.1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.button:active {
    transform: scale(1.05);
    background-color: #004080;
}
